/******************/
/* Footer Section */
/******************/

footer {
  position: relative;    
  bottom: 0;
  width: 100%; 

  overflow: hidden;
}

footer p {
  text-align: left;
  margin: 0;
  padding: 1em 0;
}
/* Following is for "sticky" footer */

/* Required for flex box to push footer to page bottom */
.scrollable-content {
  /* min-height: 100vh; */
  position: relative;
}


.container-left {
  min-height: 100vh;
}

@media (orientation: landscape) {

}



