header {
  padding-left: 2em;

  display: flex;
  flex-wrap: wrap;
}

.logo-item {
  padding-top: 2em;
  min-width: 55%;
}

.header-empty {
  padding-top: 2em;
  background-color: #4eb8b4;
  min-height: 100%;
  min-width: 45%;
}
/********/
/* Logo */
/********/

.logo {
  width: 120px;
}


/* Screen is in 'portrait' orientation (mobile view) */


/* (desktop view is handled in the media query below) */
/* Screen is in 'landscape' orientation (desktop view) */






